.Article {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .title {
    font-weight: bold;
  }

  .timestamp {
    font-size: 0.85em;
    color: #888;
  }

  .author {
    padding: 10px 0;
  }

  .body {
    padding-left: 20px;
  }
}
